<style>
	.desc{
		font-family: 'Poppins', sans-serif;
	}
</style>

<div class="d-flex m-5 pl-4 justify-content-evenly">
	<div class="flex-grow-1">
		<% if current_user.applied_jobs.present? %>
		  	<% @applied_jobs.order(created_at: :desc).each do |j| %>
					<div class="container mb-5">
						<div class="card mb-5">
						  <div class="card-header">
						    <%= j.job.job_type.to_s.humanize %>
						  </div>
						  <div class="card-body">
						  	<div class="d-flex justify-content-between align-items-center">
							    <h5 class="card-title"><%= j.job.title %></h5>
							    <span class="badge bg-primary" style="font-size: 1rem">Applied</span>
						    </div>
						    <h6 class="card-title"><%= j.job.company_name %></h6>
						    <p class="card-subtitle mb-2 text-muted"><i class="material-icons", style="font-size:15px">&#xe55f;</i> <%= j.job.location %></p>
						    <pre class="desc card-subtitle"><%= truncate(j.job.desc.to_s, 200) %></pre>
						    <br>
						    <div class="container", style="display: flex">				   
						    	<a href="<%= job_url(j.job) %>" class="btn btn-primary">View Job</a> &nbsp;
						    </div>
						  </div>
						  <div id="skillForm">
						  	<%= render "skills/form" %>
						  </div>
			  	</div>
			  </div>
			<% end %>
		<% end %>
	</div>
</div>